header {
    background-color: #303030;
    color: #ffffff;
}

.cabecalho {
    color:rgb(255, 255, 255);
    margin-left:30px;
    text-align: center;
    display:flex;
    font-family: 'Russo one', 'sans-serif';
}

.cabecalho-2 {
    color:rgb(255, 255, 255);
    margin-left: 210px;
    text-align: center;
    display:flex;
    font-family: 'Russo one', 'sans-serif';
}

.cabecalho-lista-1 {
    color: white;
    margin-left: 100px; /* alinhamento a esquerda*/
    padding: 40px; /*espaçamento vertical*/
    display:inline-block;
    justify-content: center;
    font-family: 'Roboto mono', 'sans-serif';
}

.cabecalho-lista-2 {
    color: white;
    margin-left: 160px; /* alinhamento a esquerda*/
    padding: 40px; /*espaçamento vertical*/
    display:inline-block;
    justify-content: center;
}

body {
  /*  background-color: rgb(255, 255, 255);*/
    color: black;
    font-family: 'Poppins', 'sans-serif';  
    background-image: url("./5153829.jpg");
}

.titulo-2 {
    color: black;
    justify-content: center;
    display: flex;
}

.paragrafo-1 {
    text-align: center;
    justify-content: center;
    font-family: "Nunito Sans", sans-serif;

}

.titulo-3 {
    color:black;
    justify-content: center;
    display: flex;
}

.paragrafo-2 {
    text-align: center;
    justify-content: center;
    font-family: "Nunito Sans", sans-serif;
}

.Drone-Dji-3 {
    width: 21%;
    display: inline;
    padding: 30px;
    margin-left: 50px;
    margin-right: 40px;
    font-family: 'Bebas Neue', 'sans-serif';
}

.Drone-Dji-mini-4-PRO {
    width:27%;
    display: inline;
    padding: 2px;
    margin-left: 10px;
    
}

.Drone-Dji-Mavic-3-Classic {
    width: 23%;
    display: inline;
    padding: 20px;
    margin-left: 90px;
}

.Drone-Dji-Phantom-4-RTK {
    width: 26%;
    display: inline;
    padding: 30px;
    margin-left: 15px;
    margin-right: 3px;
    
}

.Drone-Dji-Avata-2 {
    width: 30%;
    display: inline;
    padding: 20px;
    margin-left: 10px;

}

.Drone-FAITDER-E88-Pro {
    width: 17%;
    display: inline;
    padding: 20px;
    margin-left: 90px;
}

footer {
    background-color: #474747;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}

p {
    justify-content: center;
    padding: 20px;
}

.preço-1{
    width: 25px;
    display: inline-block;
    margin-left: 210px;
    margin-right: 50px;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.preço-2{
    width: 25px;
    display: inline-block;
    margin-left: 225px;
    margin-right: 80px;
    text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.Nome-Drone-1{
    width: 300px;
    display: inline;
    margin-left: 210px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 700;
        font-style: normal;
      
}

.Nome-Drone-2{
    width: 300px;
    display: inline;
    margin-left: 210px;
    font-family: "Bebas Neue", sans-serif;
        font-weight: 700;
        font-style: normal;
      
}