header {
    background-color: #474747;
    color: #FFFFFF;
}

.cabecalho {
    color:white;
    margin-left:740px;
    text-align: center;
    display:flex
}

.cabecalho-lista-1 {
    color: white;
    margin-left: 160px; /* alinhamento a esquerda*/
    padding: 40px; /*espaçamento vertical*/
    display:inline-block;
    justify-content: center;
}

.cabecalho-lista-2 {
    color: white;
    margin-left: 160px; /* alinhamento a esquerda*/
    padding: 40px; /*espaçamento vertical*/
    display:inline-block;
    justify-content: center;
}

body {
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'Poppins', 'sans-serif';  
}

.titulo-2 {
    color: black;
    justify-content: center;
    display: flex;
}

.paragrafo-1 {
    margin-left: 0px;
    justify-content: center;
    font-family: 'Roboto Condensed', 'sans-serif';

}

.titulo-3 {
    color:black;
    justify-content: center;
    display: flex;
}

.paragrafo-2 {
    justify-content: center;
    text-align: center;
}

.Drone-Dji-3 {
    width: 15%;
    display: inline;
    padding: 30px;
}

.Drone-Dji-mini-4-PRO {
    width: 15%;
    display:inline;
    padding: 120px;
    
}

.Drone-Dji-Mavic-3-Classic {
    width:15%;
    margin-right: 30px;
}

.Drone-Dji-Phantom-4-RTK {
    width: 15%;
    display: inline;
    padding: 30px;
    margin-left: 60px;
    margin-right: 40px;
    
}

.Drone-Dji-Avata-2 {
    width: 15%;
    display: inline;
    padding: 20px;
    margin-left: 150px;

}

.Drone-FAITDER-E88-Pro {
    width: 15%;
    display: inline;
    padding: 20px;
    margin-left: 140px;
}

footer {
    background-color: #474747;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}

p {
    justify-content: center;
    padding: 20px;
}

.preço-1{
    width: 25px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 50px;
    text-align: center;
}

.preço-2{
    width: 25px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 80px;
    text-align: center;
}

